<div class="card">
    <div class="card-header">
      <ul class="nav nav-justified">
        <li class="nav-item" *ngFor="let step of steps" [ngClass]="{'active': step.isActive, 'enabled': !step.isDisabled, 'disabled': step.isDisabled, 'completed': isCompleted}">
          <a (click)="goToStep(step)">{{step.title}}</a>
        </li>
      </ul>
    </div>
    <div class="card-block">
      <ng-content></ng-content>
    </div>
    <div class="card-footer" [hidden]="isCompleted">
        <button type="button" class="btn btn-secondary float-left" style="background: #438EB8; color: #FFFFFF;" (click)="previous()" [hidden]="!hasPrevStep || !activeStep.showPrev">Précédent</button>
        <button type="button" class="btn btn-secondary float-right" style="background: #438EB8; color: #FFFFFF;" (click)="next()" [disabled]="!activeStep.isValid" [hidden]="!hasNextStep || !activeStep.showNext">Continuer</button>
        <button type="button" class="btn btn-secondary float-right" style="background: #438EB8; color: #FFFFFF;" (click)="complete()" [disabled]="!activeStep.isValid" [hidden]="hasNextStep">Confirmer</button>
    </div>
</div>